---
import Layout from '../layouts/Layout.astro'
---

<Layout title="SoundSage">
  <div slot="header-info" class="header-info">
    <h1>Home</h1>
    <p>Welcome to your practice dungeon. We're here to make you better.</p>
  </div>
</Layout>
