---
import Layout from '../layouts/Layout.astro'
---

<Layout title="SoundSage">
  <div slot="header-info" class="header-info">
    <h1>Strengthen Your Greatest Musical Asset</h1>
    <p>
      Unlock your full musical potential with SoundSage, the ultimate ear-training app designed to
      make practice engaging and effective. Whether you're a beginner or a seasoned musician, our
      friendly and intuitive tools will help you improve your pitch, rhythm, and harmony skills
      effortlessly.
    </p>
  </div>
</Layout>
