---
import Layout from '../layouts/Layout.astro'
---

<Layout title="SoundSage">
  <div slot="header-info" class="header-info">
    <h1>Strengthen Your Greatest Musical Assets</h1>
    <p>
      SoundSage helps you improve your musicianship with daily ear training and sight reading
      exercises. Sign up to get started!
    </p>
  </div>
</Layout>
