---
import Auth from '../components/Auth.astro'
import Layout from '../layouts/Layout.astro'

const { cookies, redirect } = Astro

const accessToken = cookies.get('sb-access-token')
const refreshToken = cookies.get('sb-refresh-token')

if (accessToken && refreshToken) {
  return redirect('/dashboard')
}
---

<Layout title="Sign in">
  <div slot="header-info" class="header-info">
    <h1>Sign in</h1>
    <p>New here? <a href="/register">Create an account</a></p>
    
    <Auth authType="login" />
  </div>
</Layout>
